.wEc-v2-container {
  color: #787878;
  font-size: 18px;
  font-family: arial, sans-serif;
  .wEc-v2-dialog {
    padding: 0.75rem;
    font-size: 0.85em;
    background: #f0f0f0;
    border: solid 1px #ccc;
    .dialog-gate-dialog, .dialog-secure-container {}
  }
  .wEc-v2-form {
    margin: 0;
    padding: 0;
    > label {
      display: block;
      > input {
        font-size: 0.95em;
        display: block;
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem 0;
      }
    }
    &.form-gate-form, &.form-authentication-controller {}
  }
  .wEc-v2-button {
    font-size: 1em;
    padding: 0.5rem;
    margin: 0.15rem 0;
    &.button-authorize {}
    &.button-prompt-secret {
      background: lightgreen;
    }
  }
}